*.lst
*.prg
*.klog
*.vs
*.dbg
*.asm
*.woz
*.bin
bug/*
cc65/*
.vscode/*
demos/tests/*
!demos/montyr/*.asm
*.sym
!demos/tapemon/out/tapemon.0280.bin
!demos/tapemon/out/tapemon_apple1.prg
!demos/montyr/montyr.sid_cc00.0280R.bin
!demos/montyr/montyr.sid_cc00.0280R.woz
!demos/montyr/montyr.sid_c800.0280R.bin
!demos/montyr/montyr.sid_c800.0280R.woz
node_modules/
packets*.wav
!demos/demo/release/*.bin
!demos/demo/release/*.prg
!demos/demo/release/*.woz
!demos/tetris/release/*.bin
!demos/tetris/release/*.prg
!demos/tetris/release/*.woz
!demos/picshow/release/*.bin
!demos/picshow/release/*.prg
!demos/picshow/release/*.woz
!demos/anagram/out/anagram.woz
!demos/anagram/out/hangman.woz
!demos/anagram/out/anagram.prg
!demos/anagram/out/hangman.prg
!demos/life-src/life-src.asm
